.block.categories {
  @include rm(1024){
    padding-top: 90px;
    padding-bottom: 90px;
  }

  @include rm(1220){
    padding-top: 100px;
    padding-bottom: 200px;
  }
}


.categories {
  background: #f8f8f8;
}

.categories-item__btn {
  max-width: 110px;
  width: 100%;
  margin: 0 auto;
}


.categories-list {
  @include rm(480) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include rm(640){
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  @include rm(768){
    max-width: 560px;
  }

  @include rm(1024){

    max-width: 100%;
  }
}

.categories-item {
  padding: 10px;
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  border: solid 1px #76a713;

  &:not(:last-of-type){
    margin-bottom: 20px;
  }

  @include rm(480) {
    max-width: 217px;
    margin: 0;

    &:not(:last-of-type){
      margin-bottom: 0px;
    }

    &:nth-child(-n+2){
      margin-bottom: 15px;
    }
  }

  @include rm(640){
    max-width: 260px;
    padding: 20px;

    &:nth-child(-n+2){
      margin-bottom: 20px;
    }
  }

  @include rm(768){
    max-width: 270px;
  }

  @include rm(1024){
    max-width: 230px;
    &:nth-child(-n+2){
      margin-bottom: 0px;
    }
  }

  @include rm(1220){
    max-width: 270px;
  }

}

.categories-item__img {
  margin: 0 auto 10px;

  @include rm(640){
    margin: 0 auto 20px;
  }
}

.categories-item__title {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;

  @include rm(640){
    margin-bottom: 15px;
  }
}

.categories-item__text {
  font-family: Gilroy, sans-serif;
  margin-bottom: 10px;
  text-align: center;
  color: #888888;

  @include rm(640){
    margin-bottom: 20px;
  }
}
