.counter {
  display: flex;
  width: 100%;
  max-width: 120px;

  margin-bottom: 15px;

  @include rm(1024){
    margin-bottom: 0;
  }


}

.counter-btn,
.counter-text {
  width: 100%;
  max-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  flex-shrink: 0;
  font-size: 20px;
}

.counter-btn {
  cursor: pointer;
}