.promo.block {
  padding-top: 0;
  position: relative;

  @include rm(640) {
    &:before {
      background-size: 190px;
    }
  }
  @include rm(768) {
    &:before {
      background-size: 213px;
      width: 270px;
    }
  }
  @include rm(1024) {
    &:before {
      background-size: 236px;
      width: 350px;
    }
  }
  @include rm(1220) {
    &:before {
      background-size: 260px;
      width: 375px;
    }
  }
}

.promo .container {
  position: relative;
}

.promo__wrapper {
  position: relative;
  padding-bottom: 60px;

  &:before {
    position: absolute;
    content: "";
    top: -20px;
    right: -25px;
    width: 250px;
    height: 250px;
    background: url(./../../img/lime-mob.png) no-repeat;
    background-size: 100%;
    z-index: -1;
  }

  @include rm(480) {
    margin: 0;
    &:before {
      position: absolute;
      content: "";
      top: -20px;
      right: -25px;
      width: 250px;
      height: 250px;
      background: url(./../../img/lime.png) no-repeat;
      background-size: 100%;
    }
  }

  @include rm(640) {
    padding-bottom: 70px;
    &:before {
      width: 330px;
      height: 330px;
      right: -25px;
    }
  }

  @include rm(768) {
    padding-bottom: 80px;
    &:before {
      width: 380px;
      height: 380px;
      right: -30px;
    }
  }

  @include rm(1024) {
    padding-bottom: 90px;
    &:before {
      width: 420px;
      height: 420px;
      right: 130px;
    }
  }

  @include rm(1220) {
    padding-bottom: 105px;
    &:before {
      width: 459px;
      height: 459px;
      right: 220px;
    }
  }
}

.promo__title {
  font-size: 30px;
  max-width: 210px;
  width: 100%;
  margin-bottom: 20px;
  color: #191d28;

  @include rm(480) {
    font-size: 40px;
    max-width: 300px;
  }

  @include rm(640) {
    font-size: 50px;
    max-width: 350px;
  }

  @include rm(768) {
    max-width: 450px;
    font-size: 60px;
  }

  @include rm(1024) {
    max-width: 490px;
    font-size: 70px;
  }

  @include rm(1220) {
    max-width: 560px;
    font-size: 80px;
  }
}

.promo__btn {
  max-width: 160px;
  width: 100%;
  color: white;
  padding: 13px 10px;
  background-color: #76a713;
  cursor: pointer;
}

.promo__stroke {
  -webkit-text-stroke: 1px #557212;
  color: white;

  @include rm(1024) {
    -webkit-text-stroke: 2px #557212;
  }
}

.promo-slider {
  display: flex;
}

.slider__btn {
  bottom: 0;
  top: auto;
  width: 40px;
  height: 40px;
  transform: translate(0, 0%);
  padding: 10px;
  background-color: #76a713;
  color: white;
  transition: 1s;
  z-index: 10;
}

.slider__btn--prev {
  left: 0;

  &:before {
    content: "<";
    transition: 1s;
  }
}

.slider__btn--next {
  right: calc(100% - 90px);

  &:before {
    content: ">";
    transition: 1s;
  }
}

.slider__btn--prev:hover,
.slider__btn--next:hover,
.slider__btn--prev:focus,
.slider__btn--next:focus {
  background-color: rgba(118, 167, 19, 0.3);
  transition: 1s;
}

.slider__btn--prev:hover::before,
.slider__btn--next:hover::before,
.slider__btn--prev:focus::before,
.slider__btn--next:focus::before {
  color: #76a713;
  transition: 1s;
}

.slider .slick-slide {
  margin: 0 15px;
}

.slider .slick-list {
  margin: 0 -15px;
}

.promo__banner {
  display: none;


  @include rm(1024) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    writing-mode: vertical-rl;
    -webkit-text-stroke: 2px #31751c;
    font-size: 60px;
    color: transparent;
    width: 200px;
    height: 100%;
    background: #1f5c0c;
    padding: 20px;
    z-index: -2;
  }

  @include rm(1220) {
    width: 300px;
    padding: 25px;
    font-size: 69px;
  }
}