body {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
}

button {
  display: block;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @include rm(480) {
    width: 480px;
  }

  @include rm(640) {
    width: 640px;
  }

  @include rm(768) {
    width: 768px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @include rm(1024) {
    width: 1024px;
  }

  @include rm(1220) {
    width: 1220px;
  }
}

.title {
  font-size: 26px;
  color: #191d28;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;

  @include rm(480) {
    font-size: 30px;
    line-height: 1.2;
  }

  @include rm(640) {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 1;
  }

  @include rm(768) {
    font-size: 40px;
  }

  @include rm(1024) {
    font-size: 50px;
    margin-bottom: 30px;
  }

  @include rm(1220) {
    font-size: 60px;
    line-height: 1.05;
    margin-bottom: 40px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  background: #76a713;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}
