@import "../../../styles/mixins";

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 25px 0;

  @include rm(1024){
    padding: 30px 0;
  }
}

.header__info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.header__language {
  display: flex;
}

.language__btn {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #76a713;
  padding: 5px;
  background: white;
  cursor: pointer;

  &:first-child {
    margin-right: 2px;
  }
  &:hover {
    background: #76a713;
    color: white;
  }
}

.header__logo {
  max-width: 180px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

  @include rm(480){
    padding: 0;
    margin-bottom: 0;
  }

  @include rm(1024){
    max-width: 200px;
    margin-right: auto;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;


  @include rm(480){
    justify-content: space-between;
  }

  @include rm(1024){
    justify-content: center;
  }
}

.site {
  width: 100%;
  display: flex;
  justify-content: space-around;
  order: 1;

  @include rm(480){
    margin-top: 20px;
    justify-content: center;
  }

  @include rm(768){
    width: auto;
    order: 0;
    margin-top: 0;
  }

  @include rm(1024){
    margin-right: 30px;
  }
}

.site__link {
  display: block;
  color: black;
  padding: 7px;
}

.site__link.active {
  color: green;
}

.nav-user {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  @include rm(480){
    margin-bottom: 0;
  }
}

.search__img {
  width: 20px;
}
.user__login {
  width: 100%;
  max-width: 100px;
}
.user__login-btn {
  display: block;
  padding: 10px;
  line-height: 1.2;
  background-color: #76a713;
  color: white;
  text-align: center;
  flex-shrink: 0;
}

.user__search-btn,
.user__cart-btn {
  width: 40px;
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: 13px;
  background: #eee;
  cursor: pointer;
}

.user__search, .user__login {
  margin-right: 10px;
  flex-shrink: 0;

}

.site__item {
  @include rm(480){
    &:not(:last-of-type){
      margin-right: 20px;
    }
  }

  @include rm(640){
    &:not(:last-of-type){
      margin-right: 45px;
    }
  }

  @include rm(768){
    &:not(:last-of-type){
      margin-right:0;
    }
  }
}
