.text {
  cursor: pointer;
  font-size: 20px;
  color: black;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
  align-self: flex-end;
}

.toggle-button {

  position: relative;

  width: 60px;
  height: 30px;
  margin: 0;

  vertical-align: top;

  background: #ffffff;
  border: 1px solid #191d28;
  border-radius: 30px;
  outline: none;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button::after {
  content: "";

  position: absolute;
  left: 3px;
  top: 1.5px;

  width: 25px;
  height: 25px;
  background-color: #76a713;
  border-radius: 50%;

  transform: translateX(0);

  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #fff;
}

.toggle-button:checked {
  background-color: #76a713;
}
